# Live Google Calendar backend endpoint (for real-time slots & Google Meet video calls)
VITE_GOOGLE_CALENDAR_BACKEND_URL=https://script.google.com/macros/s/AKfycbxaYQmj4B5jVnbm9gny9apU-9k0k78orwcbDoXht2yJxcmvtVFrgVqCCBaRs6SCUfyv/exec

# Live Google Sheet backend endpoint (for form submissions & inquiries)
VITE_GOOGLE_SHEET_URL=https://script.google.com/macros/s/AKfycbwkIiDrEca1zQTQS9CDoCq0tlPPIr62XjCgBhIUw3QVMqa-8H-uhw8BD-aZs6lH24KsjA/exec
